/* jQuery fullsize background trick */

body { margin: 0; padding: 0; }

#bg { position: fixed; top: 0; left: 0; z-index: -1; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

/* Background and header style */

@font-face {
  font-family: Bits;
  src: url('/fonts/Vera.ttf');
}

@font-face {
  font-family: Bits;
  src: url('/fonts/VeraBd.ttf');
  font-weight: bold;
}

div.actions {
	margin-left: -40px;
	padding: 0;
	height: 30px;
}
div.actions > ul {
	list-style-type: none;
}
div.actions > ul > li:firsty-child {
	margin-right: 5px;
	padding-right: 10px;
	background-color: white;
	color: black;
	font-weight: bold;
	margin-left: -20px;
}



div.actions > ul > li {
	padding-right: 20px;
	padding-left: 20px;
	color: white;
	font-weight: bold;
	font-size: 12pt;
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 5px;
	background-color: black;
	float: left;
}

div.actions > ul > li:hover {
	background-color: #444444;
}


	background-color: black;	
}

div.actions > div {
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 12pt;
	padding: 5px 5px 5px 5px;
	float:left;
	display: inline;
	width: 80px;
}

body { overflow: auto;	font-family: Bits, 'Arial'; }

div#header > img { 
	display:inline;
	width: 400px; 
	z-index: 10;
	left: 20px;
	top: 20px;
	margin-left: 10px;
	margin-top: 15px;
}

div#header > ul {
	/*width: 100%;*/
	margin-top: 120px;
	margin-left: 50px;
	display: inline;
}



a:hover {
	text-decoration: underline;
}

a {
	color: black;
	text-decoration: none;	
}

h1 {
	margin-left: 0px;	
}

b {
	font-weight: bold;	
}

div#header {

	border-bottom: 3px solid black;
	margin: 0 0 0 0;	
	display: block;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

div#header > ul > li {
		font-size: 20pt;
		display: inline;
		list-style-type: none;
		margin-left: 60px;
		margin-top: 120px;
}

div#header { }

span.sidenote {
	font-size: 12pt;
	font-weight: normal;	
	margin-left: 20px;
}

div#shim { 
	position: absolute; 
	top: 0; left: 0;
	height: 200px;
	width: 100%;
	z-index: -1;
	background-color: gray;	
}

div#content {
	margin-top:30px;
	margin-left: 40px;
}

span.leftcol {
	width: 300px;
	margin-right: 20px;
	float:left;
	clear: none;
}

div#new_status_update > form > input {
	width: 500px;	
}

div#new_resource > form > input {
	width: 270px;
	margin-right: 40px;	
}

*.hiding {
	display:none;	
}

div#content > h1 {
	margin-left: 0px;
	margin-right: 40px;
	/*font-size: 20pt;*/
	font-weight: bold;
}

h2 {
	display:inline;
	text-decoration: underline;	
	font-size: 16pt;
}

div#content > p {
	font-size: 15pt;
	margin-left: 0px;
	margin-right: 40px;
}

div.people-entry {
	margin-bottom: 40px;
	border-left: 3px solid black;
	padding-left: 20px;	
}

form {
	display: inline;	
}

div.milestone {
	background-color: 	#DDDDDD;
	padding: 10px 20px 10px 20px;
	width: 730px;
	margin-bottom: 40px;
}	
div.milestone > span > b {
	margin-left: 20px;	
}

div.milestone > div {
	margin-top: 20px;	
}

div.milestone > div > span {
	margin-right: 20px;
	margin-left: 5px;
}

input.todolistforms {
	margin-left: 20px;
	width: 500px;
}

span.killer_queen {
	float: right;	
}
span.killer_queen > a {
	color: red;	
}

*.strike {
	text-decoration: line-through;	
}
