/* jQuery fullsize background trick */

#bg { position: fixed; top: 0; left: 0; z-index: -1; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

/* Background and header style */

@font-face {
  font-family: Bits;
  src: url('/fonts/Vera.ttf');
}

body { 
	overflow: hidden;	font-family: Bits, 'Arial';
	background-image: url("/images/bgimage.png");
	background-repeat: repeat;
	background-color: #DDDDDD; 
}

div#header > ul > li:hover {
		cursor: pointer;
}

div#header > img { 
	width: 400px; 
	z-index: 10;
	position: absolute;
	left: 20px;
	top: 20px;
}

div#header > ul {
	
	/*width: 100%;*/
	margin-top: 120px;
	margin-left: 350px;
	
}

div#header > ul > li {
		font-size: 20pt;
		display: inline;
		list-style-type: none;
		margin-left: 60px;
		margin-top: 120px;
}

div#header { }
div#supersuperdiv {
	position:absolute;
	bottom: 0px;
}

div#superdiv {
	height: 100%;
	position:relative;
	
}

div#superdiv > div {	
	position: absolute;
	top: 900px;
	background-color: white;
	opacity: 0.9;
	width: 700px;
	padding: 20px;
	overflow: auto;
}

div#shim { 
	position: absolute; z-index: 0; 
	top: 0; left: 0;
	height: 200px;
	width: 100%;
	opacity: 0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */	
	background-color: white;	
	z-index: -1;
}

div.shim {
	position: absolute;
	left: 40px;
	top: 230px;
	display: none;
	width: 80%;
	background-color: white;
	opacity: 0.8;
	
	filter:alpha(opacity=60); /* For IE8 and earlier */	
	z-index: 0;
	
	max-width: 900px;
}

div#login_box {
	padding: 20px 20px 20px 20px;
	position: absolute;
	z-index: 0;
	left: 40px;
	top: 40%;
	width: 400px;
	height: 100px;	
}

form#login_form > input {
	margin-top: 10px;
	height: 30px;
	font-size: 25px;
	width: 140px;
}

div#login_shim {
	position: absolute;
	z-index: -1;
	background-color: white;
	opacity: 0.8;
	left: 40px;
	top: 40%;
	width: 400px;
	height: 100px;	
}

div#content {
	position: absolute;
	left: 40px;
	top: 230px;
	padding: 0 0 0 0;
	display: none;
	width: 80%;
	
	background-color: transparent;	
	z-index: 10;
	overflow-y: auto;
	max-width: 900px;
}

div.hiding {
	display:none;	
}

div#content > h1 {
	margin-left: 40px;
	margin-right: 40px;
	font-size: 20pt;
	font-weight: bold;
}
div#content > p {
	font-size: 15pt;
	margin-left: 40px;
	margin-right: 40px;
}
